<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MaxTemperatureDriver/src/com/letsdobigdata/MaxTemperatureDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.letsdobigdata.MaxTemperatureDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sample.txt output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MaxTemperatureDriver"/>
</launchConfiguration>
